
.title{
    margin-bottom: 1rem;
}



.climbs, .secondClimb {
    border: solid whitesmoke 10px;
    border-radius: 5px;
    margin-right: 20px; /* Lägg till margin mellan bilderna */
}

.imageWrapper{
    display: flex;
}

.textContainer p {
  margin-bottom: 20px; /* Justera marginalen nedåt för att skapa avstånd mellan texten och bilderna */
  display: inline; /*Så <p inte tar upp onödig plats*/
}

.secondTextContainer{
    margin-top: 20px;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1662px) {
    .climbs, .secondClimb {
        width: 200px;
        height: 320px;
      }
    }

    .title{
        font-size: 10px;
    }

    .textContainer{
        font-size: 12px;
    }
  
